body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

.header {
  position: absolute;
  left: 0;
  width: 75%;
  height: 10%;
  background: #b0c4de;
  padding: 10px;
  box-sizing: border-box;
  border-right: 2px solid black;
  text-align: center;
}
.footer {
  position: absolute;
  left: 0;
  width: 75%;
  height: 30%;
  background: lightblue;
  padding: 10px;
  box-sizing: border-box;
  border-right: 2px solid black;
  text-align: center;
}

.header {
  top: 0;
  border-bottom: 2px solid black;
}

.footer {
  bottom: 0;
  border-top: 2px solid black;
}

.header h1, .footer h2 {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin: 0;
}

.header p, .footer p {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  margin: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 70%;
  background: lightgreen;
  padding: 10px;
  box-sizing: border-box;
  border-left: 2px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sidebar p {
  max-height: 100%;
  margin: 0;
  padding: 10px;
  word-wrap: break-word;
  overflow-y: auto;
}


.extra {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20vw;
  height: 30vh;
  background: lightcoral;
  padding: 10px;
  box-sizing: border-box;
  border-left: 2px solid black;
  border-top: 2px solid black;
  text-align: center;
  overflow: hidden;
  font-weight: bold; 

}

.extra ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 90%;
  list-style: none;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  overflow-y: auto;
}

.extra ul li {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.content {
  position: absolute;
  top: 10%;
  left: 0;
  width: 75%;
  height: 80%;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-right: 2px solid black;
  text-align: center;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  transform: translate(-50%, -65%);
}
